@tailwind base;
@tailwind components;
@tailwind utilities;

[data-overlay-container="true"] {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: white;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 1.6;
}

.dark-linear-gradient {
  background: linear-gradient(24deg,
      #6100c2 1.89%,
      #1c171e 75.65%,
      #191817 78.98%);
}

.text-white {
  color: #fff;
  opacity: 1;
}

.letter-spacing-1 {
  letter-spacing: 4px;
}

.letter-spacing-2 {
  letter-spacing: 8px;
}

.letter-spacing-3 {
  letter-spacing: 12px;
}

.sign-in-form {
  width: 600px;
}

@media (max-width: 600px) {
  .sign-in-form {
    width: 95%;
  }
}

.bg-purple {
  background-color: #6100c2;
}

.w-60px {
  width: 60px;
}

.bg-banner-filme {
  background: linear-gradient(to bottom, #19181700, #000000ce);
  width: 100%;
}

.bg-banner-filme::before {
  background: linear-gradient(to bottom, #19181700, #000000ce);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.custom-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.modal-filme {
  margin: 0 !important;
  max-height: none !important;
  border-radius: 0 !important;
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-10%);
  }
}

.hearth-button {
  border-radius: 14px;
  border: 1px solid #fff;
  background: linear-gradient(99deg,
      #fff 3.36%,
      rgba(255, 255, 255, 0) 238.16%);

  backdrop-filter: blur(10px);
}

.cards-filmes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.card-filme {
  transition: all 0.4s ease-in-out !important;
  aspect-ratio: 2/3;
}

@media screen and (max-width: 600px) {

  .card-filme,
  .card-filme img {
    max-width: 100%;
    max-height: 250px;
  }

  .button-heart img {
    width: 14px;
    height: 14px;
  }

  .button-heart {
    border-radius: 12px;
  }

}

.image-modal-filme {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media screen and (max-height: 750px) {
  .image-modal-filme {
    max-height: 60vh;
  }
}